
.banner-container{
  background: url("../../Assets/ecommerce-banner.jpg") no-repeat;
  background-size: cover;
  position: relative;
  height: 36vw;
  margin: 30px auto;
  margin-top: 30px;
  border-radius: 10px;
}

.banner-content{
  position: absolute;
  color: #fff;
  padding: 1vw 3vw;
  bottom: 10%;
  width: 44vw;
  animation: fadeIn 3s;
}

.banner-content h2{
  font-size: max(4.5vw,24px);
  margin-bottom: 10px;
}

.home-container{
  padding:30px 70px;
  width: 90%;
  margin: auto;
}

.banner-content p{
  font-size: 1vw;
  margin-bottom: 17px;
  font-weight: bold;
}

.banner-content button{
  border: 0;
  background-color: #fff;
  padding: 1.0vw 2.3vw;
  color: #000;
  border-radius: 30px;
  font-size: 1vw;
}

@media screen and (max-width:768px){
  .home-container{
    padding:0px;
  }
  .banner-container{
    height: 25vh;
  }
  .banner-content{
      bottom: 10%;
  }
  .banner-content h2{
      font-size: max(3vw,15px);
      margin-bottom: 5px;
  }

  .banner-content p{
      margin-bottom: 3px;
  }
}


