
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  height: 60px; 
}

.header-container .logo-container {
  display: flex;
  gap: 10px;
  align-items: center;
}

.header-container .profile-image {
  height: 40px;
  border-radius: 30px;
}

.logo-container .menu-icon {
  font-size: 25px;
  cursor: pointer;
}

.header-container h1 {
  font-size: 20px;
}
.profile-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.search {
  flex: 1;
  margin: 0 20px;
}
